:root {
    --light: #F4F5FA;
    --dark: #363945;
    --header: #7bafd4;
    --primary: #ab494d;
    --secondary: #285780;
    --tertiary: #ab494d;
    --ttertiary: #a55052;
    --visited: #274e83;
    --gray: #3f3f3f;
    --lightgray: #f0f0f0;
    --outlinegray: #dadada;
    --million-progress-bar-color: var(--secondary);
    --highlighted: #2c313d;
    --title: #2c313d;
    --scrollbar: gray;
    --scrollbar-track: #DDD;
}

[saved-theme="dark"] {
    --light: #2c313d !important;
    --dark: #e2e4e9 !important;
    --header: #24486c;
    --primary: #f3d321 !important;
    --secondary: #eacacb !important;
    --tertiary: #f3d321 !important;
    --visited: #d199ff !important;
    --gray: #d4d4d4 !important;
    --lightgray: #292633 !important;
    --outlinegray: #343434 !important;
    --highlighted: #574010;
    --title: #ced5df;
    --scrollbar: rgb(177, 177, 177);
    --scrollbar-track: rgb(51, 51, 51);
}
